/* переменные */
:root {
    --color-btn:#c184e7;
    --color-btn-hover:#bc79e0;
    --base-color-whitesmoke: whitesmoke;
    --box-shadow-btn: 0px 2px 4px -0.7px rgb(0 0 0 / 25%);
    --icon-size:20px;
}
/* база */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--base-color-whitesmoke);
    background: rgb(6,0,102);
    background: linear-gradient(90deg, rgba(6,0,102,1) 0%, rgba(143,84,181,1) 35%, rgb(72, 134, 192) 79%, rgba(104,199,218,1) 100%);
}
.container {
    max-width: 900px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    word-break: break-all;
}
.block {    
    padding-top: 50px;
    padding-bottom: 50px;
}
.checkbox {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.checkbox:hover {
    transform: scale(1.2);
    transition: ease-out;
}


/* наполнение */



/* панель добавления */
.control {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* отступ */
.control + * {
    margin-top: 30px;
}
.todo-priority.btn{
    border-radius: .25rem;
    margin-left: 10px;
    box-shadow: var(--box-shadow-btn);
}
/* важная задача */
.list .is-important {
    color: #faff00d1;
}
.todo-priority.is-important {
    background-color: #faff00b5;
    /* opacity: 0.75; */
}


/* список задач */


.list {
    width: 600px;
    font-weight: bold;
}

/* одна задача */
.new-task {
    display: flex;
    justify-content: start;
    background-color: #f5f5f559;
    border-radius: 12px;
    padding: 7px;
}
.text {
    /* ограничиваем текст для кнопок справа */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 450px;
    overflow: hidden;
}
/* отступ между задачами */
.new-task + *{
    margin-top: 1.2vw;
}
/* выполненная задача */
.success {
	text-decoration: line-through;
    text-decoration-color: var(--base-color-whitesmoke);
    opacity: 85%;
  
}


/* поле ввода, кнопки */


.text-field {
    display: flex;
    border-radius: .25rem;
  }
.field {
    color: #212529;
    text-align: center;
    background-color: var(--base-color-whitesmoke);
    opacity: 60%;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 2;
}
/* кнопка */
.btn {
    border-radius: .25rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--color-btn);
    /* background-color: #eee; */
    border: 1px solid #bdbdbd;
    padding: .375rem .75rem;
    font-size: 1rem;
    transition: background-color 0.2s ease;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
    border: none;
}
/* наведение на кнопки */
.btn:hover {
    opacity: 0.9;
    background-color:var(--color-btn-hover);
}
.todo-priority.is-important:hover {
    opacity: 0.9;
    background-color: #edf200b5;
}
/* превышение символов */
.disabled-btn{
    background-color: #f5f5f559;
  }
.disabled-btn:hover{
    background-color: #f5f5f559;
}
.warning-none {
    margin-top: 15px;
    color: #faff00d1;
    display: none;
    font-weight: bolder;
}
.warning {
    display: block;
}


/* иконки задач */
/* пин */
.pin {
    background: url(../img/pin.png);
}
.pin:hover {
    background: url(../img/pin_hover.png);
}
/* удаление */
.new-task .del-btn {
    background: url(../img/delete.png) no-repeat;
    margin-left: 20px;
    background-size: contain;
}
.del-btn:hover {
    background: url(../img/delete_hover.png);
}
.pin, .del-btn {
    background-repeat: no-repeat;
    opacity: 1;
    margin-left: 40px;
    background-size: contain;
    height: var(--icon-size);
    width: var(--icon-size);
    transition: opacity .3s;

}
.new-task:hover .pin{
    opacity: 1;
    transition: opacity .3s;
}
.pin:hover, .del-btn:hover {
    background-repeat: no-repeat;
    background-size: contain;
    width: var(--icon-size);    
    height: var(--icon-size);
}