/* база */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: whitesmoke;
    background: rgb(6,0,102);
    background: linear-gradient(90deg, rgba(6,0,102,1) 0%, rgba(143,84,181,1) 35%, rgb(72, 134, 192) 79%, rgba(104,199,218,1) 100%);
}
.block {
    padding-top: 50px;
    padding-bottom: 50px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    width: 80%;
    /* перенос слов */
    word-break: break-all;
}


/* наполнение */

/* панель добавления */
.control {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
/* отступ */
.control + * {
    margin-top: 30px;
}
.todo-priority.btn{
    border-radius: .25rem;
    margin-left: 10px;
}
/* важная задача */
.list .is-important {
    color: #FAFF00;
}
.todo-priority.is-important {
    background-color: #faff00b5;
    /* opacity: 0.75; */
}
/* список задач */
.list {
    font-weight: bold;
}
/* добавить цвет */
/* одна задача */
.new-task {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* отступ между задачами */
.new-task + *{
    margin-top: 1.2vw;
}
/* выполненная задача */
.success {
	text-decoration: line-through;
}

/* поле ввода */
.text-field {
    display: flex;
    border-radius: .25rem;
  }
.field {
    color: #212529;
    text-align: center;
    background-color: whitesmoke;
    opacity: 60%;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 2;
}
  /* кнопка */
.btn {
    border-radius: .25rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    background-color: #eee;
    border: 1px solid #bdbdbd;
    padding: .375rem .75rem;
    font-size: 1rem;
    transition: background-color 0.2s ease;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}
/* наведение на кнопки */
.btn:hover {
    opacity: 0.9;
    background-color: #bc79e0;
}
.todo-priority.is-important:hover {
    opacity: 0.9;
    background-color: #edf200b5;
}


.todo-priority-text {
    opacity:  85%;
}

.add {
    background-color: #c184e7;
    border: none;

}
.todo-priority {
    background-color:#c184e7;
    border: none;
    box-shadow: 0px 2px 4px -0.7px rgb(0 0 0 / 25%);
}