/* база */
body {
    margin: 0;
    padding: 0;
    background: rgb(6,0,102);
    background: linear-gradient(90deg, rgba(6,0,102,1) 0%, rgba(143,84,181,1) 35%, rgb(72, 134, 192) 79%, rgba(104,199,218,1) 100%);
}
/* для ценрования контента */
.container {
    max-width: 1140px;
    margin: 0 auto;
    width: 80%;
    /* перенос слов*/
    word-break: break-word;
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


/* наполнение */
/* панель */
.control + * {
    margin-top: 10px;
}
/* список */
.list { 
    font-weight: bold;
    color: whitesmoke;
}
/* важная задача */
.list .is-important {
    color: #FAFF00;
}
/* сама задача */
.new-task {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   text-align: center;
   justify-content: center;
   font-weight: bold;
}
.new-task + *{
    margin-top: 0px;
}
/* выполнено */
.success {
	text-decoration: line-through;
}
.field {
    outline: none;
}

/* кнопки */
.btn {
    transition: opacity 0.2s ease;
}
.btn:hover, a.btn:hover {
    opacity: 0.7;
    color:#fff;
}
.add {
    background-color: #c184e7;
    border: none;
    box-shadow:
     0.4px 8.3px 10px rgba(0, 0, 0, 0.102),
    3px 66px 80px rgba(0, 0, 0, 0.24);
    color: #fff;
}
.todo-priority.is-important {
    background-color: #d9dd04;
}
.todo-priority {
    background-color:rgb(193, 132, 231, 69);
    border: none;
    color: #fff;
    box-shadow:
    0.4px 8.3px 10px rgba(0, 0, 0, 0.102),
   3px 66px 80px rgba(0, 0, 0, 0.24);
}
.todo-priority:hover {
    opacity: 80%;
}
input, button{
    height: 4em;
}


/* адаптив */
@media (max-width:600px) {
   .todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    font-weight: bold;
   }
  input,button {
    height: 2em;
  }
}